@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registro - Voto electrónico</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PC2_Views.styles.css" asp-append-version="true" />
</head>
<body>
<section class="vh-100" style="background-color: #F8F9FA;">

   <div class="container h-100">

        <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <div class="bg-white border w-75 rounded-5 p-5">

                <div class="d-flex">
                    <div class="w-100">
                        <h1 class="mb-4 fw-bold text-center">Crear Cuenta</h1>
                    </div>

                </div>
                <form id="loginForm">
                    <div class="row"> 
                        <div class="form-group mb-3 col-lg-6">
                            <label class="label">Nombres</label> <input class="form-control" placeholder="Ingrese nombres" required="" name="name" id="txtName">

                        </div>
                         <div class="form-group mb-3 col-lg-6">
                            <label class="label">Apellidos</label> <input class="form-control" placeholder="Ingrese apellidos" required="" name="lastname" id="txtLastname">

                        </div>
                    </div>
                    <div class="row"> 
                        <div class="form-group mb-3 col-lg-6">
                            <label class="label">Correo electrónico</label> <input class="form-control" placeholder="Ingrese correo electrónico" required="" name="email" id="txtEmail">

                        </div>
                         <div class="form-group mb-3 col-lg-6">
                            <label class="label">DNI</label> <input class="form-control" placeholder="Ingrese DNI" required="" name="dni" id="txtDNI">

                        </div>
                    </div>
                    <div class="row"> 
                        <div class="form-group mb-3 col-lg-6">
                            <label class="label">Teléfono</label> <input class="form-control" placeholder="Ingrese teléfono" required="" name="phone" id="txtPhone">

                        </div>
                         <div class="form-group mb-3 col-lg-6">
                            <label class="label">Fecha de nacimiento</label> <input class="form-control" placeholder="Ingrese fecha de nacimiento" required="" name="birthdate" id="txtBirthdate">

                        </div>
                    </div>
                    <div class="row"> 
                        <div class="form-group mb-3 col-lg-6">
                            <label class="label">Dirección</label> <input class="form-control" placeholder="Ingrese dirección" required="" name="address" id="txtAddress">

                        </div>
                         <div class="form-group mb-3 col-lg-6">
                            <label class="label">Contraseña</label> <input class="form-control" placeholder="Ingrese contraseña" required="" name="password" id="txtPassword">

                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" id="btnSubmit" class="form-control btn btn-primary">
                            Registrar
                        </button>
                    </div>

                </form>
                 <div class="pt-4 text-gray-400 ">¿No tienes cuenta?
								<a href="/security/login" class="link-primary"> ¡Crea una cuenta gratis!</a></div>
            </div>

        </div>
    </div>
</section>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
