@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row d-flex flex-row mt-5"> 

   <div class="col-lg-6 card text-dark bg-light mb-3 p-0">
        <div class="card-header fs-5 fw-bold">En curso</div>
        <div class="card-body">
            <div class="row pb-4">
                <div class="col-9">
                    <span>Elección de alcaldes</span><br><span class="fw-light">Periodo 2022-1</span>
                </div>
                <div class="col-3 text-center">
                    <a href="#" class="btn btn-primary">Ingresar</a>


                </div>
            </div>

            <div class="row">
                <div class="col-9">
                    <span>Elección de congresistas</span><br><span class="fw-light">Periodo 2022-1</span>
                </div>
                <div class="col-3 text-center">
                    <a href="#" class="btn btn-primary">Ingresar</a>


                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-1 "> </div>
       <div class="col-lg-5 card text-dark bg-light mb-3 p-0">
        <div class="card-header fs-5 fw-bold">Culminadas</div>
        <div class="card-body">
            <div class="row pb-4">
                <div class="col-9">
                    <span>Elección de presidentes</span><br><span class="fw-light">Periodo 2021</span>
                </div>
                <div class="col-3 text-center">
                    <a href="#" class="btn btn-primary">Resultados</a>


                </div>
            </div>

            <div class="row">
                <div class="col-9">
                    <span>Elección de presidentes</span><br><span class="fw-light">Periodo 2016</span>
                </div>
                <div class="col-3 text-center">
                    <a href="#" class="btn btn-primary">Resultados</a>


                </div>
            </div>
        </div>
    
    </div>
</div>           