@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>Votación - Elección alcaldes</h4>
<div class="col-lg-1 "> </div>
        <div class="col-lg-6 card text-dark bg-light mb-3 p-2">
        <div class="card-header fs-5 fw-bold">Candidato</div>
        <div class="card-body">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Radios" id="idcand1" value="option1" checked>
                <label class="form-check-label" for="idcand1">
                    Manuel Mala
                </label>
                <small class="form-text text-muted" for="idcand1">
                    Partido: Unidos
                </small>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Radios" id="idcand2" value="option2" checked>
                <label class="form-check-label" for="idcand2">
                    Viviana Lorenzo
                </label>
                <small class="form-text text-muted" for="idcand2">
                    Partido: Victoria
                </small>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Radios" id="idcand3" value="option3" checked>
                <label class="form-check-label" for="idcand3">
                    Mariano Gonzales
                </label>
                <small class="form-text text-muted" for="idcand3">
                    Partido: Juntos Podemos
                </small>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="Radios" id="idcand4" value="option4" checked>
                <label class="form-check-label" for="idcand4">
                    Samir Mendez
                </label>
                <small class="form-text text-muted" for="idcand4">
                    Partido: Unidoss
                </small>
            </div>
            <div class="text-end col pe-4 pb-3">
                    <button class="btn btn-primary" type="button">Seleccionar</button>
            </div>
        </div>
</div>


