@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <h3 class="mb-3">Resultados</h3>
    <div class="row d-flex flex-row mt-5"> 

        <div class="col-lg-6 text-dark mb-3 p-0">
            <table id="resultsTable" class="table">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Candidato</th>
                      <th scope="col">Partido</th>
                      <th scope="col">Voto</th>
                      <th scope="col">Porcentaje</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                          <th scope="row">1</th>
                          <td>Peter Castle</td>
                          <td>Perú Libre</td>
                          <td>5700</td>
                          <td>40%</td>
                    </tr>
                    <tr>
                          <th scope="row">2</th>
                          <td>Cesar Kuña</td>
                          <td>Unión para el progreso</td>
                          <td>5557</td>
                          <td>39%</td>
                    </tr>
                    <tr>
                          <th scope="row">3</th>
                          <td>Keiko Chorimory</td>
                          <td>Fuerza del pueblo</td>
                          <td>1607</td>
                          <td>11%</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Hernan de la Roca</td>
                        <td>Avanza Perú</td>
                        <td>1461</td>
                        <td>10%</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-lg-1 "> </div>
            <div class="col-lg-4  text-dark mb-3 p-0">
                <table class="table table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th>Tipo</th>
                            <th>Cantidad</th>
                            <th>Porcentaje</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Blanco</td>
                            <td>500</td>
                            <td>45%</td>
                        </tr>
                        <tr>
                            <td>Nulo</td>
                            <td>100</td>
                            <td>60%</td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-grid gap-5">
                    <button class="btn btn-primary" type="button">Emitir lista de no votantes</button>
                </div>
    
            </div>
        </div>  
    
    <div class="row d-flex flex-row mt-5 col-lg-6 col-12">
        <label for="text" class="fs-5">Perú Libre:</label><br>
        <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">40%</div>
        </div>
        <label for="text" class="fs-5" :="">Unión por el progreso</label><br>
        <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 39%" aria-valuenow="39" aria-valuemin="0" aria-valuemax="100">39%</div>
        </div>
        <label for="text" class="fs-5">Fuerza del pueblo:</label><br>
        <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 11%" aria-valuenow="11" aria-valuemin="0" aria-valuemax="100">11%</div>
        </div>
        <label for="text" class="fs-5">Avanza Perú:</label><br>
        <div class="progress mb-3">
            <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">10%</div>
        </div>

    </div>
        


</body>

<script src="/Assets/Voter/results.js"></script> 